.chat-main
  .group-info
    .group-info__box
      .group-info__box__group-name
        Test
      .group-info__box__member
        Member : ゆうたろう
    .group-info__edit-button
      = link_to "#", class:"button-style" do 
        Edit 
  .message-list
    .message-list__box
      .message-list__box-top
        .message-list__box-top__name
          ゆうたろう
        .message-list__box-top__date-stamp
          2020/01/22(Wed)22:00:00
      .message-list__box__post
        今日はようやく仕事が終わって学習してます
    .message-list__box
      .message-list__box-top
        .message-list__box-top__name
          ゆうたろう
        .message-list__box-top__date-stamp
          2020/01/22(Wed)22:00:00
      .message-list__box__post
        まだメッセージがありません
  .message-form
    .message-form__input-box
      .message-form__input-box__text
        %input{class: "text-era", type: "text", value: "type a message"}
      .message-form__input-box__image
        %label{class: "image-era", type:"file" }
          = icon('fas', 'image')
          %input{type: "file", class:"message-image"}
    .message-form__submit-btn
    %input{type: "submit", value: "Send", name: "commit", class: "send-btn"}