.chat-side {
  width: 300px;
  height: auto;
  background-color: #253141;
  .user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__name {
        font-size: 24px;
        color: white;
        font-weight: bold;
      }
      &__icons {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
        .icons {
          color: white;
        }
        &__icons-new-group {
        margin-left: 5px;
        }
      }
    }
  .group-list {
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51;
    padding: 20px;
    &-box {
      width: 260px;
      margin-bottom: 40px;
    }
    .group {
      color: white;
      margin-bottom: 40px;
      text-decoration: none;
      &__name {
        font-size: 20px;
        margin-bottom: 5px;
      }
      &__message {
          font-size: 11px;
      }
    }
  }
}
